body {
  font-family: Arial, sans-serif;
 }
 
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}
 
 
input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
 
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

form button {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 50px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #77b64d;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video {
  max-width: 100%;
}
